.home-content{
    padding: 50px;
    color: #49504B;
    height: 100%;
    background-color: #E8EBED;

    .service-card{
        h4{
            margin-top: 10px;
        }
        .actions{
            padding: 20px;
            bottom: 0;
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    
    .architect-card{
        h4{
            margin-top: 10px;
        }
        .actions{
            padding: 20px;
            bottom: 0;
            position: absolute;
            width: 100%;
            left: 50%;
            transform: translateX(-50%);
        }
    }
}

.request-dialog{
    .request-form{
        padding-top: 20px !important;
    }

}